<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cash Fusion Tests" verbose="1">
    <test name="bnbTest">
        <classes>
            <class name="by.yaroslavTolstik.resliv.test.Tests"/>
            <class name="by.yaroslavTolstik.resliv.test.TestNew"/>
        </classes>
    </test>
</suite>